<div [ngSwitch]="isAuthenticated()">
    <div class="row justify-content-center" *ngSwitchCase="false">
        <div class="col-md-12">
            <form class="form" role="form" (ngSubmit)="register()">
                <div class="form-group">
                    <label for="username" jhiTranslate="global.form.username">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                           [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="email">
                </div>
                <div class="form-group">
                    <label for="password" jhiTranslate="login.form.password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           [(ngModel)]="password">
                </div>
                <button type="submit" class="btn btn-primary pull-right" jhiTranslate="global.form.next">Next</button>
            </form>
            <p></p>
        </div>
    </div>
    <div class="row" *ngSwitchCase="true">

    </div>
</div>
